.input-group {
  @apply bg-[color:var(--white-color)] rounded-[var(--border-radius-large)] relative flex flex-wrap items-stretch w-full px-[15px] py-2.5;
}

.input-group-text {
  @apply bg-transparent flex items-center text-base font-normal leading-normal text-[#212529] text-center whitespace-nowrap px-3 py-1.5 rounded-tr-none rounded-br-none  rounded-md border-0 border-solid border-[#ced4da];
}

input.form-control {
  @apply shadow-none text-[color:var(--p-color)] text-xl relative flex-auto w-[1%] min-w-0 -ml-px mb-0 px-2 md:px-4 py-2 rounded-br-none rounded-t-none rounded-bl-none border-0 outline-none max-w-[772px];
}

input.form-control:placeholder-shown + button.form-control {
  @apply pointer-events-none;
}

button.form-control {
  @apply bg-[color:var(--custom-btn-bg-color)] text-[color:var(--white-color)] text-[length:var(--btn-font-size)] md:text-[length:var(--p-font-size)] font-[number:var(--font-weight-semibold)] transition-all duration-[0.3s] rounded-[var(--border-radius-large)] mb-0 border-[none] font-montse max-w-[150px] hover:border-transparent hover:bg-[color:var(--custom-btn-bg-hover-color)] cursor-pointer px-2 md:px-4 py-1 md:py-2 w-[30%] ml-2;
}

.content--container {
  @apply gap-y-9 py-8 h-full;
}

.wrapper-info {
  @apply flex flex-col justify-center items-center max-w-[800px] w-fit mx-auto px-4;
}


.container--ventue {
  @apply hidden h-0;
}

.container--ventue:has(.wrapper--ventue) {
  @apply block h-full;
}

.wrapper--ventue {
  @apply flex flex-wrap gap-x-3 gap-y-5 px-4 md:px-9 w-full justify-center;
}

.ventue {
  @apply flex flex-col gap-y-3 bg-white rounded-[var(--border-radius-medium)] relative transition-all duration-[0.3s] ease-[ease] p-[30px] w-full md:w-56 h-auto cursor-pointer;
}

.ventue:hover  {
  @apply scale-110;
}

.ventue--name::after {

}

.ventue--details {
  @apply flex w-full;
}

.ventue--details-title {
  @apply w-2/4;
}

.ventue--details-content {
  @apply w-2/4;
}

.wrapper--ventue:has(.ventue:hover) > .ventue:not(:hover) {
  @apply opacity-70 scale-90;
}

.button-loading:disabled {
  @apply cursor-not-allowed relative opacity-50;
}

.button-loading:disabled span {
  @apply hidden;
}

.button-loading:disabled::after {
  @apply content-[''] absolute left-[45%] top-2/4 w-6 h-6 animate-spin pointer-events-none rounded-[50%] border-t-[#3498db] border-4 border-solid border-[#ccc];
}

@keyframes spin {
  0% { transform: translateY(-50%) rotate(0deg); }
  100% { transform: translateY(-50%) rotate(360deg); }
}

.button-loading:disabled:hover {
  @apply pointer-events-none;
}

ul.dropdown-list {
  @apply hidden box-border bg-white absolute w-full z-10 mt-2 rounded-md border border-[--border-dropdown] font-montse font-medium text-black overflow-x-hidden 
  max-h-[calc(25dvh)] overflow-y-auto;
}

ul.dropdown-list li {
  @apply w-full block;
}

ul.dropdown-list li:not(:last-child)::after {
  @apply content-[""] block w-[calc(100%_-_0.5rem_-_0.5rem)] bg-[--border-dropdown] h-px px-2 text-center mx-2;
}

ul.dropdown-list li span {
  @apply block text-black p-2 w-full font-montse font-medium text-base;
}

ul.dropdown-list > li span:hover {
  @apply bg-[--primary-color] text-white cursor-pointer;
}

ul.dropdown-list > li li span {
  @apply ml-2;
}

.dropdown-input {
  @apply relative py-3 px-6 rounded-[50px] w-full focus:outline-none text-base font-montse font-medium;
}

.dropdown-input:disabled {
  @apply cursor-not-allowed;
}

.dropdown-input:focus + ul.dropdown-list {
  @apply block;
}

.dropdown-container:has(input:disabled)::after {
  @apply content-[''] absolute -translate-y-2/4 w-4 h-4 animate-spin opacity-100 pointer-events-none rounded-[50%] border-t-[#3498db] border-4 border-solid border-[#ccc] right-5 top-2/4;
}

@keyframes spin {
  0% { transform: translateY(-50%) rotate(0deg); }
  100% { transform: translateY(-50%) rotate(360deg); }
}

.overlay {
  @apply flex fixed w-full h-full bg-[rgba(0,0,0,0.5)] py-5 md:py-0 md:items-center justify-center z-20 left-0 top-0 overflow-y-auto;
}

.weather-container {
  @apply relative bg-white shadow-[0_0_10px_rgba(0,0,0,0.2)] text-center p-5 rounded-lg max-w-[calc(100vw_-_40px)] w-full overflow-y-auto;
}

.weather-container--close {
  @apply absolute right-5 top-1  md:right-10 text-4xl text-red-600;
}

.weather-form {
  @apply flex flex-col gap-2.5;
}
.weather-form label {
  @apply text-lg;
}
.weather-form input {
  @apply text-base border rounded p-2 border-solid border-[#ccc];
}
.weather-form button {
  @apply bg-[#007bff] text-white rounded cursor-pointer p-2.5 border-[none];
}

.weather-list {
  @apply flex flex-wrap justify-center w-full gap-x-6 gap-y-7 mt-2 p-3;
}

.weather-content {
  @apply flex flex-col min-w-[16rem] max-w-md w-fit;
}

.weather-content-info {
  @apply flex w-full;
}

.weather-content-title {
  @apply w-1/3 text-left font-medium;
}

.weather-content-title span{
  @apply font-bold;
}

.weather-content-detail {
  @apply w-2/3;
}